@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.main-nav__logo-link {
  margin-right: 29px;
}

.main-nav__logo {
  position: relative;
  z-index: 2;
  display: block;
}

.main-nav {
  padding: 0 70px;
  display: flex;
}

.main-nav__list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 600px;
  list-style-type: none;
}

.main-nav__link {
  position: relative;
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.main-nav__link-current::before {
  position: absolute;
  z-index: 20;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 400px;
  list-style-type: none;
}

.user-list__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.user-list__link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.user-list__link-search {
  background-image: url('../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: left 12px center;
}

.user-list__link-fav {
  background-image: url('../images/heart-icon.svg');
  background-repeat: no-repeat;
  background-position: left 12px center;
}

.user-list__fav-hotels {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.main-nav__button {
  align-self: flex-start;
  margin-top: 14px;
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.main-nav__button,
.main-nav__button {
  background-color: #615048;
}

.main-nav__button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.main-nav__button:disabled {
  background-color: #e5e5e5;
}

.main-container {
  flex-grow: 1;
}

.hero {
  position: relative;
  margin-top: -6px;
  padding-top: 51px;
  padding-bottom: 81px;
  background-image: url('../images/index-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(131, 179, 211, 0.2);
}

.hero::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url('../images/mask.svg');
  content: "";
}

.hero__image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.attractions {
  padding-top: 70px;
}

.attractions__slogan {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.attractions__text {
  margin: 0 auto;
  margin-bottom: 90px;
  width: 700px;
  text-align: center;
}

.attractions__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.attractions__item {
  padding: 114px 85px 113px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
}

.attractions__item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.attractions__item-hero {
  padding: 0;
  display: flex;
  width: 100%;
}

.attractions__item-bridge {
  order: 1;
  flex-direction: row-reverse;
}

.attractions__column {
  padding: 103px 85px;
  width: 400px;
  background-color: #82b3d3;
  box-sizing: border-box;
}

.attractions__title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.attractions__title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
  content: "";
}

.attractions__item-hero .attractions__title {
  color: #ffffff;
}

.attractions__item-hero .attractions__title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.3;
  content: "";
}

.attractions__desc {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.attractions__item-hero .attractions__desc {
  color: #ffffff;
}

.attractions__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  background-color: steelblue;
}

.features {
  padding-top: 64px;
}

.features__slogan {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.features__text {
  margin: 0 auto;
  margin-bottom: 64px;
  width: 500px;
  text-align: center;
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.features__item {
  padding: 184px 85px 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features__item:nth-child(2n) {
  background-color: #ffffff;
}

.features__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.features__desc {
  margin: 0 auto;
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.features__item-apartments {
  background-image: url('../images/house-icon.png');
  background-repeat: no-repeat;
  background-position: top 82px center;
}

.features__item-food {
  background-image: url('../images/food-icon.png');
  background-repeat: no-repeat;
  background-position: top 82px center;
}

.features__item-souvenir {
  background-image: url('../images/souvenir-icon.png');
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.search {
  padding: 96px 0;
}

.search__lead {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.search__text {
  margin: 0 auto;
  margin-bottom: 54px;
  width: 592px;
  text-align: center;
}

.search__link {
  display: block;
  margin: 0 auto;
  width: 276px;
  padding: 8px 50px;
  background-color: #756157;
}

.search__link:hover,
.search__link:focus {
  background-color: #615048;
}

.search__link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search__link:disabled {
  background-color: #e5e5e5;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #82b3d3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__text {
  margin: 0 auto;
  margin-bottom: 55px;
  width: 475px;
  color: #ffffff;
  text-align: center;
}

.subscribe__form {
  display: flex;
  margin: 0 auto;
  width: 684px;
}

.subscribe__input {
  flex-grow: 1;
  padding: 14px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe__input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__button {
  padding: 0 50px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #68a2ca;
}

.subscribe__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 70px 30px;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social__link:focus .social__icon {
  fill: #68a2ca;
}

.social__icon {
  fill: #83b3d3;
}

.social__icon:hover {
  fill: #68a2ca;
}

.social__icon:active {
  fill: #68a2ca;
  opacity: 0.3;
}
.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.phone:hover,
.phone:focus {
  outline: none;
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* .copyright:focus .copyright__logo {
  fill: #756157;
} */

.copyright__logo {
  padding-top: 4px;
  fill: #000000;
}

.copyright__logo:hover {
  fill: #756157;
}

.copyright__logo:focus {
  fill: #756157;
}

.copyright:focus .copyright__logo {
  fill: #756157;
}

.copyright:active .copyright__logo {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-closed {
  display: none;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-booking {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  width: 577px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 51px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  content: "";
  transform: rotate(45deg);
}

.modal-close-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  content: "";
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.booking-form {
  width: 577px;
}

.booking__field-group {
  position: relative;
  margin: 0;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
}

.booking__field-group::after {
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 20;
  width: 20px;
  height: 20px;
  background-image: url('../images/calendar.svg');
  content: "";
}

.booking-form__label {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.booking-form__kids-label {
  position: relative;
  margin-right: 42px;
}

.booking-form__date {
  position: relative;
  font: inherit;
  padding: 12px 20px;
  width: 400px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.booking-form__date:hover {
  background-color: #e6e6e6;
}

.booking-form__date:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.booking-form__date::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.booking-message {
  position: absolute;
  bottom: -23px;
  left: 27%;
  font-size: 16px;
  line-height: 21px;
}

.booking-message-error {
  color: #ff5757;
}

.booking__age {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 48px;
}

.booking__age-wrapper {
  display: flex;
  align-items: center;
}

.booking-form__age-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.booking-form__adult-label {
  margin-right: 46px;
}

.booking-form__age-input {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.booking-form__button {
  position: relative;

  width: 40px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.booking-form__remove-button::before {
  position: absolute;
  top: 24px;
  left: 13px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.booking-form__add-button::before {
  position: absolute;
  top: 24px;
  left: 13px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.booking-form__add-button::after {
  position: absolute;
  top: 24px;
  left: 13px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
  transform: rotate(90deg);
}

.booking-form__button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.booking-form__add-button:hover::after,
.booking-form__add-button:hover::before {
  background-color: #000000;
}

.booking-form__remove-button:hover::before {
  background-color: #000000;
}

.booking-form__remove-button:focus::before {
  background-color: #000000;
}

.booking-form__add-button:focus::after,
.booking-form__add-button:focus::before {
  background-color: #000000;
}

.booking-form__button:active {
  outline: none;
}

.booking-form__remove-button:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.booking-form__add-button:active::after,
.booking-form__add-button:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.booking-form__age {
  padding: 14px 10px 14px;
  width: 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.booking-form__age::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.booking-form__age::-webkit-inner-spin-button,
.booking-form__age::-webkit-outer-spin-button {
  appearance: none;
}

.booking-form__age:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.tooltip {
  position: absolute;
  left: 60px;
}

.form-label-icon {
  position: relative;
}

.tooltip-toggle {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
}

.tooltip-toggle::before {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 2px;
  height: 12px;
  background-image: url('../images/tooltip.svg');
  content: "";
}
.tooltip-text {
  position: absolute;
  top: 40px;
  left: -116px;
  z-index: 1;
  display: none;
  padding-top: 21px;
  padding-right: 18px;
  padding-bottom: 22px;
  padding-left: 22px;
  width: 216px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px 0px #0000004d;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  top: -3px;
  left: 119px;
  width: 19px;
  height: 19px;
  background-color: #333333;
  content: "";
  transform: rotate(45deg);
}

.booking__submit-button {
  padding: 12px 0;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.booking__submit-button:hover,
.booking__submit-button:focus {
  background-color: #68a2ca;
}

.booking__submit-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.inner__wrap {
  margin-top: -6px;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 72px;
  background-color: #82b3d3;
  background-image: url(../images/inner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs__item:not(:first-child)::before {
  position: absolute;
  top: 5px;
  left: -16px;
  width: 7px;
  height: 10px;
  background-image: url(../images/arrow.svg);
  content: "";
}

.breadcrumbs__link {
  position: relative;
  display: block;
  min-width: 12px;
  min-height: 12px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link-index::after {
  position: absolute;
  top: -2px;
  left: 0;
  width: 13px;
  height: 13px;
  background-image: url(../images/home-icon.svg);
  content: "";
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.filters__form {
  display: flex;
}

.form__infrastructure {
  margin: 0;
  margin-right: 64px;
  padding: 0;
  max-width: 160px;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__title {
  max-width: 160px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.form__item {
  margin-bottom: 13px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__label {
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.form__checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.form__checkbox:focus + .form__checkbox-mark {
  outline: 3px solid #83b3d3;
}

.form__checkbox-label:hover,
.form__label:hover .form__checkbox-mark {
  opacity: 0.6;
}

.form__label:active,
.form__label:active .form__checkbox-mark {
  opacity: 0.3;
}

.form__checkbox:disabled ~ .form__checkbox-mark {
  opacity: 0.1;
  cursor: default;
}

.form__checkbox:disabled ~ .form__checkbox-label {
  opacity: 0.1;
  cursor: default;
}

.form__checkbox[type="checkbox"]:checked + .form__checkbox-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url('../images/tick.svg');
  background-repeat: no-repeat;
  content: "";
}

.form__type-of-living {
  padding: 0;
  margin-right: auto;
  max-width: 160px;
  border: none;
}

.form__radio[type="radio"]:checked + .form__radio-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  content: "";
  border-radius: 50%;
}

.form__radio-mark {
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.form__radio:focus + .form__radio-mark {
  outline: 3px solid #83b3d3;
}

.form__radio-label:hover {
  opacity: 0.6;
}

.form__label:hover .form__radio-mark {
  opacity: 0.6;
}

.form__radio:disabled ~ .form__radio-mark {
  opacity: 0.1;
  cursor: default;
}

.form__radio:disabled ~ .form__radio-label {
  opacity: 0.1;
  cursor: default;
}

.form__price {
  padding: 0;
  margin-right: 70px;
  width: 288px;
  max-width: 288px;
  border: none;
}

.form__range-wrapper {
  display: flex;
  margin-top: 2px;
  margin-bottom: 43px;
}

.form__range-label {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.form__range-label span {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.form__range-input {
  padding: 12px 20px;
  padding-right: 40px;
  width: 143px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  appearance: textfield;
}

.form__range-input::-webkit-inner-spin-button,
.form__range-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.form__range-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.form__range-input:hover {
  background-color: #e6e6e6;
}

.form__range-input:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.form__range-min-price {
  margin-right: 2px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.form__range-max-price {
  border: none;
  border-radius: 0 4px 4px 0;
}

.form__range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form__range-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 4px;
  background-color: #ffffff;
}

.form__range-toggle {
  margin-top: -8px;
  cursor: pointer;
}

.form__range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  opacity: none;
  border: none;
  border-radius: 4px;
}

.toggle-max {
  right: 0;
}

.form__range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.form__range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.form__range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.form__button-wrap {
  margin: 0;
  width: 191px;
  display: flex;
  flex-direction: column;
}

.form__button-submit {
  margin-top: 55px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__button-submit:hover,
.form__button-submit:focus {
  outline: none;
  background-color: #68a2ca;
}

.form__button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.form__button-reset {
  margin-top: auto;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.form__button-reset:hover {
  outline: none;
  opacity: 0.6;
}

.form__button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.form__button-reset:active {
  outline: none;
  opacity: 0.3;
}

.form__button-reset:disabled {
  opacity: 0.1;
  cursor: default;
}

.hotels {
  margin: 0 auto;
  width: 1060px;
}

.hotels__wrap {
  margin-bottom: 38px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotels__text {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotels__column {
  display: flex;
  flex-wrap: wrap;
}

.hotels__select {
  margin-right: 70px;
  padding: 12px 20px;
  width: 292px;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
}

.hotels__select:hover {
  border-color: #68a2ca;
}

.hotels__select:focus {
  outline: none;
  border-color: #68a2ca;
}

.hotels__select:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 0.3;
  cursor: default;
}

.view__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  list-style-type: none;
}

.view__item-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.view__item-button-current {
  border-color: #000000;
}

.view__item-button:hover,
.view__item-button:active {
  border-color: #000000;
}

.view__item-button:focus {
  border-color: #68a2ca;
}

.view__item-button-table {
  background-image: url('../images/view-table.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.view__item-button-slider {
  background-image: url('../images/view-slideshow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.view__item-button-list {
  background-image: url('../images/view-list.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hotels__list {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  border-bottom: 1px solid #e6e6e6;
}

.hotels__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels__item-title {
  margin: 0;
  margin-bottom: 16px;
}

.hotels__title-link {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels__image-link {
  display: block;
  width: 300px;
  height: 212px;
  margin-bottom: 16px;
  order: -1;
  background-color: #e6e6e6;
}

.hotels__image {
  margin-bottom: -3px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.hotels__item-cost {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
}

.hotels__item-wrap {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-button {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.favorite-button {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.details-button:hover,
.details-button:focus {
  background-color: #615048;
  outline: none;
}

.details-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.favorite-button:hover,
.favorite-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.favorite-button-checked {
  padding: 8px 18px;
  background-color: #7db54f;
}

.favorite-button-checked:hover,
.favorite-button-checked:focus {
  background-color: #6c9e42;
  outline: none;
}

.favorite-button-checked:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.hotels__item-rate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.hotels__rate {
  margin: 0;
  height: 17px;
  background-image: url('../images/star.svg');
  background-repeat: space no-repeat;
}

.hotels__four-stars {
  width: 88px;
}

.hotels__three-stars {
  width: 66px;
}

.hotels__two-stars {
  width: 42px;
}

.hotels__rate-desc {
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels__pagination {
  margin: 0;
  padding: 39px 0 60px;
  list-style-type: none;
  display: flex;
}

.hotels__pagination-item {
  margin-right: 8px;
}

.hotels__pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.hotels__pagination-link:hover,
.hotels__pagination-link:focus {
  background-color: #68a2ca;
}

.hotels__pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotels__pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels__pagination-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #000000;
}

.inner-subscribe {
  background-color: transparent;
  background-image: none;
}

.inner-subscribe-title {
  color: #000000;
}

.inner-subscribe-text {
  color: #333333;
}
